Binaries
DerivedDataCache
Intermediate
Saved
/Content/ExternalContent/
/Content/StaticMeshes/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Content/VFX/
/Content/Weapons/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
